<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StudyPop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFCB26721CE8E1C300754A6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFCB26891CE8E1C400754A6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFCB26941CE8E1C400754A6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
